@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald);


body {
  background: url("http://www.zingerbug.com/Backgrounds/background_images/dark_purple_mini_bricks_seamless_pattern.gif") fixed;
  background-size: contain;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}


h1 {
  padding: 2% 0 2% 0;
}


body .container {
  max-width: 60%;
}


a {
  color: #fff;
}


.navigation .nav-button {
  background-color: rgba(170, 170, 170, 0.6);
}


.navigation .nav-button:hover {
  background-color: #fff;
  color: rgba(170, 170, 170, 0.6);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.navigation .active {
  background-color: rgba(175, 192, 183, 0.6);
  transition: background-color 0.8s ease-in-out;
}


.navigation .nav-main {
  font-size: 28px;
}


.navigation .sub-nav {
  font-size: 22px;
  padding: 0 0px 0 0px;
}


.navigation .sub-nav #all {
  padding-left: 15px;
}


.navigation .sub-nav #offline {
  padding-right: 15px;
}


.navigation .sub-nav .fa-circle {
  color: rgba(172, 255, 211, 0.4);
  margin: 0 4px 0 0;
}


.navigation .sub-nav .fa-circle-o {
  color: rgba(255, 108, 133, 0.4);
  margin: 0 4px 0 0;
}

.stream-card {
  background-color: rgba(175, 192, 183, 0.6);
  border: 3px solid transparent;
  margin: 0 0 0.5% 0;
}


.stream-card:hover {
  background-color: rgba(175, 192, 183, 0.8);
  border: 3px solid #fff;
  transition: border 0.4s ease-in-out;
}


.stream-card img {
  max-height: 100%;
  max-width: 120px;
  margin: 0 0 0 -15px;
}


.stream-card .channel-desc {
  padding: 0 0 0 5px;
  max-width: 200px;
}


.stream-card .name-wrapper {
  width: 200px;
  margin: 0 0 0 0;
}


.stream-card .name-wrapper h2 {
  z-index: 1;
  font-size: 3.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  margin: 15px 0 0 40px;
  position: relative;
}


.stream-card .name-wrapper .fa-circle {
  z-index: -1;
  position: absolute;
  top: -4px;
  left: 30px;
  font-size: 5em;
  color: rgba(172, 255, 211, 0.4);
}


.stream-card .name-wrapper .fa-circle-o {
  z-index: -1;
  position: absolute;
  top: -4px;
  left: 30px;
  font-size: 5em;
  color: rgba(255, 108, 133, 0.4);
}


.stream-card .name-wrapper .fa-dot-circle-o {
  z-index: -1;
  position: absolute;
  top: -4px;
  left: 30px;
  font-size: 5em;
  color: rgba(170, 170, 170, 0.6);
}


.stream-card .offline {
  color: transparent;
}


.stream-card .inactive {
  display: none;
}


.stream-card .streaming {
  text-align: left;
  margin: 8px 0 0 0;
}


.stream-card .viewers {
  margin: 8px 0 0 0;
}
